# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build Output
dist/
backend/dist
dist-ssr/
*.local

# Dependency Folders
node_modules/
backend/venv/
backend/node_modules/
frontend/node_modules/

# Environment Files
.env
.env.local
.env.*.local

# Editor Directories and Files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python Specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
